<!-- Button -->
<ng-container *ngrxLet="user$ as user">
  <button mat-icon-button [matMenuTriggerFor]="userActions">
    <span class="relative">
      <img
        class="h-7 w-7 rounded-full"
        *ngIf="showAvatar && user.info.avatar"
        [src]="user.info.avatar"
        alt="User Avatar"
      />
      <mat-icon
        *ngIf="!showAvatar || !user.info.avatar"
        [svgIcon]="'duotone:circle-user'"
      ></mat-icon>
      <span
        class="absolute bottom-0 right-0 h-2 w-2 rounded-full"
        [ngClass]="{
          'mb-px mr-px': !showAvatar || !user.info.avatar,
          'bg-green-500': user.info.status === 'ONLINE',
          'bg-amber-500': user.info.status === 'AWAY',
          'bg-red-500': user.info.status === 'BUSY',
          'bg-gray-400': user.info.status === 'INVISIBLE'
        }"
      ></span>
    </span>
  </button>

  <mat-menu [xPosition]="'before'" #userActions="matMenu">
    <button mat-menu-item>
      <span class="flex flex-col leading-none">
        <span>Signed in as</span>
        <span class="text-md mt-1.5 font-medium">{{ user.info.email }}</span>
      </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
      <mat-icon [svgIcon]="'duotone:address-card'"></mat-icon>
      <span *transloco="let t">{{ t('Profile') }}</span>
    </button>
    <button mat-menu-item>
      <mat-icon [svgIcon]="'duotone:gear'"></mat-icon>
      <a [routerLink]="['/settings']">{{ 'Settings' | transloco }}</a>
    </button>
    <button mat-menu-item [matMenuTriggerFor]="userStatus">
      <mat-icon
        *ngIf="user.info.status === 'ONLINE'"
        [svgIcon]="'duotone:globe'"
      ></mat-icon>
      <mat-icon
        *ngIf="user.info.status === 'AWAY'"
        [svgIcon]="'duotone:house-person-leave'"
      ></mat-icon>
      <mat-icon
        *ngIf="user.info.status === 'BUSY'"
        [svgIcon]="'duotone:face-sleeping'"
      ></mat-icon>
      <mat-icon
        *ngIf="user.info.status === 'INVISIBLE'"
        [svgIcon]="'duotone:eye-slash'"
      ></mat-icon>

      <span *transloco="let t">{{ t('Status') }}</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item (click)="signOut()">
      <mat-icon [svgIcon]="'duotone:right-from-bracket'"></mat-icon>
      <span *transloco="let t">{{ t('Logout') }}</span>
    </button>
  </mat-menu>
</ng-container>

<mat-menu class="user-status-menu" #userStatus="matMenu">
  <button mat-menu-item (click)="updateUserStatus('ONLINE')">
    <span class="mr-3 h-4 w-4 rounded-full bg-green-500"></span>
    <span *transloco="let t">{{ t('Online') }}</span>
  </button>
  <button mat-menu-item (click)="updateUserStatus('AWAY')">
    <span class="mr-3 h-4 w-4 rounded-full bg-amber-500"></span>
    <span *transloco="let t">{{ t('Away') }}</span>
  </button>
  <button mat-menu-item (click)="updateUserStatus('BUSY')">
    <span class="mr-3 h-4 w-4 rounded-full bg-red-500"></span>
    <span *transloco="let t">{{ t('Busy') }}</span>
  </button>
  <button mat-menu-item (click)="updateUserStatus('INVISIBLE')">
    <span class="mr-3 h-4 w-4 rounded-full bg-gray-400"></span>
    <span *transloco="let t">{{ t('Invisible') }}</span>
  </button>
</mat-menu>
