<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <mat-drawer-container
    class="bg-card h-full flex-auto dark:bg-transparent"
    (backdropClick)="onBackdropClicked()"
  >
    <!-- Drawer -->
    <mat-drawer
      class="sm:w-128 w-full dark:bg-gray-900"
      [mode]="drawerMode"
      [opened]="false"
      [position]="'end'"
      [disableClose]="true"
      #matDrawer
    >
      <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="flex flex-col">
      <!-- Main -->
      <div class="flex flex-auto flex-col">
        <!-- Header -->
        <div
          class="flex flex-col items-start px-6 py-8 sm:flex-row sm:items-center sm:justify-between md:px-8"
        >
          <!-- Title -->
          <div>
            <div class="text-4xl font-extrabold leading-none tracking-tight">
              Tasks
            </div>
            <div class="text-secondary ml-0.5 font-medium">
              <span *ngIf="tasksCount.incomplete === 0"
                >All tasks completed!</span
              >
              <span *ngIf="tasksCount.incomplete !== 0"
                >{{ tasksCount.incomplete }} remaining tasks</span
              >
            </div>
          </div>
          <!-- Actions -->
          <div class="mt-4 sm:mt-0">
            <!-- Add section button -->
            <button
              mat-flat-button
              [color]="'accent'"
              (click)="createTask('section')"
              [matTooltip]="'Shortcut: Ctrl + .'"
            >
              <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
              <span class="ml-2 mr-1">Add Section</span>
            </button>
            <!-- Add task button -->
            <button
              class="ml-3"
              mat-flat-button
              [color]="'primary'"
              (click)="createTask('task')"
              [matTooltip]="'Shortcut: Ctrl + /'"
            >
              <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
              <span class="ml-2 mr-1">Add Task</span>
            </button>
          </div>
        </div>

        <!-- Tasks list -->
        <ng-container *ngIf="tasks && tasks.length > 0; else noTasks">
          <div
            class="divide-y"
            cdkDropList
            [cdkDropListData]="tasks"
            (cdkDropListDropped)="dropped($event)"
          >
            <!-- Task -->
            <ng-container
              *ngFor="let task of tasks; let first = first; trackBy: trackByFn"
            >
              <div
                [id]="'task-' + task.id"
                class="dark:hover:bg-hover group w-full select-none hover:bg-gray-100"
                [ngClass]="{
                  'h-12 bg-gray-50 text-lg font-semibold dark:bg-transparent':
                    task.type === 'section',
                  'h-16': task.type === 'task',
                  'text-hint': task.completed
                }"
                [class.border-t]="first"
                cdkDrag
                [cdkDragLockAxis]="'y'"
              >
                <!-- Drag preview -->
                <div class="flex-0 flex h-0 w-0" *cdkDragPreview></div>

                <!-- Task content -->
                <div class="relative flex h-full items-center pl-10">
                  <!-- Selected indicator -->
                  <ng-container
                    *ngIf="selectedTask && selectedTask.id === task.id"
                  >
                    <div
                      class="flex-0 bg-primary absolute -bottom-px -top-px right-0 z-10 flex w-1"
                    ></div>
                  </ng-container>

                  <!-- Drag handle -->
                  <div
                    class="absolute inset-y-0 left-0 flex w-8 cursor-move items-center justify-center md:hidden md:group-hover:flex"
                    cdkDragHandle
                  >
                    <mat-icon
                      class="text-hint icon-size-5"
                      [svgIcon]="'heroicons_solid:bars-3'"
                    ></mat-icon>
                  </div>

                  <!-- Complete task button -->
                  <button
                    class="-ml-2.5 mr-2 leading-none"
                    *ngIf="task.type === 'task'"
                    (click)="toggleCompleted(task)"
                    mat-icon-button
                  >
                    <ng-container *ngIf="task.completed">
                      <mat-icon
                        class="text-primary"
                        [svgIcon]="'heroicons_outline:check-circle'"
                      ></mat-icon>
                    </ng-container>
                    <ng-container *ngIf="!task.completed">
                      <mat-icon
                        class="text-hint"
                        [svgIcon]="'heroicons_outline:check-circle'"
                      ></mat-icon>
                    </ng-container>
                  </button>

                  <!-- Task link -->
                  <a
                    class="flex h-full min-w-0 flex-auto items-center pr-7"
                    [routerLink]="[task.id]"
                  >
                    <!-- Title & Placeholder -->
                    <div class="mr-2 flex-auto truncate">
                      <ng-container *ngIf="task.title">
                        <span>{{ task.title }}</span>
                      </ng-container>
                      <ng-container *ngIf="!task.title">
                        <span class="text-hint select-none"
                          >{{ task.type | titlecase }} title</span
                        >
                      </ng-container>
                    </div>
                    <!-- Priority -->
                    <ng-container *ngIf="task.type === 'task'">
                      <div class="mr-3 h-4 w-4">
                        <!-- Low -->
                        <mat-icon
                          class="icon-size-4 text-green-600 dark:text-green-400"
                          *ngIf="task.priority === 0"
                          [svgIcon]="'heroicons_mini:arrow-long-down'"
                          [title]="'Low'"
                        ></mat-icon>
                        <!-- High -->
                        <mat-icon
                          class="icon-size-4 text-red-600 dark:text-red-400"
                          *ngIf="task.priority === 2"
                          [svgIcon]="'heroicons_mini:arrow-long-up'"
                          [title]="'High'"
                        ></mat-icon>
                      </div>
                    </ng-container>
                    <!-- Due date -->
                    <div
                      class="text-secondary whitespace-nowrap text-sm"
                      *ngIf="task.type === 'task'"
                    >
                      {{ task.dueDate | date: 'LLL dd' }}
                    </div>
                  </a>
                </div>
              </div>
            </ng-container>
          </div>
        </ng-container>

        <ng-template #noTasks>
          <div
            class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent"
          >
            <mat-icon
              class="icon-size-24"
              [svgIcon]="'heroicons_outline:clipboard-document-list'"
            ></mat-icon>
            <div
              class="text-secondary mt-4 text-2xl font-semibold tracking-tight"
            >
              Add a task to start planning!
            </div>
          </div>
        </ng-template>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
