<div
  class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto"
  cdkScrollable
>
  <!-- Main -->
  <div class="flex flex-auto flex-col items-center p-6 sm:p-10">
    <!-- Title -->
    <div
      class="mt-4 text-3xl font-extrabold leading-7 tracking-tight sm:leading-10 md:mt-24 md:text-6xl"
    >
      Scrumboard Plan
    </div>

    <!-- Plans -->
    <div
      class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 md:mt-16 lg:grid-cols-4"
    >
      <ng-container *ngFor="let plan of plans$ | ngrxPush; trackBy: trackByFn">
        <a
          class="bg-card flex w-60 flex-col items-start rounded-lg p-6 shadow transition-shadow duration-150 ease-in-out hover:shadow-xl"
          [routerLink]="[plan.id]"
        >
          <div
            class="bg-primary-50 text-primary-700 dark:bg-primary dark:text-on-primary flex items-center justify-center rounded-full p-4"
          >
            <!-- <mat-icon class="text-current" [svgIcon]="board.icon"></mat-icon> -->
          </div>
          <!-- Title -->
          <div class="mt-5 text-lg font-medium leading-5">
            {{ plan.title }}
          </div>
          <!-- Description -->
          <div class="text-secondary mt-0.5 line-clamp-2">
            {{ plan.description }}
          </div>
          <!-- Members -->
          <ng-container *ngIf="plan.members?.length">
            <div class="mt-6 h-1 w-12 border-t-2"></div>
            <avatar-group
              class="mt-6 flex items-center -space-x-1.5"
              [members]="plan.members"
            >
            </avatar-group>
          </ng-container>
          <!-- Last activity -->
          <div class="text-md font-md mt-4 flex items-center">
            <div class="text-secondary">Edited:</div>
            <div class="ml-1">
              {{ plan.updatedAt | timeElapsed }}
            </div>
          </div>
        </a>
      </ng-container>
      <!-- New board -->
      <div
        class="hover:bg-hover flex w-56 cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 transition-colors duration-150 ease-in-out"
      >
        <mat-icon
          class="icon-size-12 text-hint"
          [svgIcon]="'heroicons_outline:plus'"
        ></mat-icon>
      </div>
    </div>
  </div>
</div>
