<!-- Button -->
<button
    mat-icon-button
    [matMenuTriggerFor]="userActions">
    <span class="relative">
        <img
            class="w-7 h-7 rounded-full"
            *ngIf="showAvatar && user.avatar"
            [src]="user.avatar"
            alt="User Avatar">
        <mat-icon
            *ngIf="!showAvatar || !user.avatar"
            [svgIcon]="'duotone:circle-user'" ></mat-icon>
        <span
            class="absolute right-0 bottom-0 w-2 h-2 rounded-full"
            [ngClass]="{'mr-px mb-px': !showAvatar || !user.avatar,
                          'bg-green-500': user.status === 'ONLINE',
                          'bg-amber-500': user.status === 'AWAY',
                          'bg-red-500': user.status === 'BUSY',
                          'bg-gray-400': user.status === 'INVISIBLE'}"
        ></span>
    </span>
</button>

<mat-menu
    [xPosition]="'before'"
    #userActions="matMenu">
    <button mat-menu-item>
        <span class="flex flex-col leading-none">
            <span>Signed in as</span>
            <span class="mt-1.5 text-md font-medium">{{user.email}}</span>
        </span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'duotone:address-card'"></mat-icon>
        <span *transloco="let t">{{t('Profile')}}</span>
    </button>
    <button mat-menu-item>
        <mat-icon [svgIcon]="'duotone:gear'"></mat-icon>
        <span *transloco="let t">{{t('Settings')}}</span>
    </button>
    <button
        mat-menu-item
        [matMenuTriggerFor]="userStatus">
        <mat-icon *ngIf="user.status === 'ONLINE'" [svgIcon]="'duotone:globe'"></mat-icon>
        <mat-icon *ngIf="user.status === 'AWAY'" [svgIcon]="'duotone:house-person-leave'"></mat-icon>
        <mat-icon *ngIf="user.status === 'BUSY'" [svgIcon]="'duotone:face-sleeping'"></mat-icon>
        <mat-icon *ngIf="user.status === 'INVISIBLE'" [svgIcon]="'duotone:eye-slash'"></mat-icon>

        <span *transloco="let t">{{t('Status')}}</span>
    </button>
    <mat-divider class="my-2"></mat-divider>
    <button
        mat-menu-item
        (click)="signOut()">
        <mat-icon [svgIcon]="'duotone:right-from-bracket'"></mat-icon>
        <span *transloco="let t">{{t('Logout')}}</span>
    </button>
</mat-menu>

<mat-menu
    class="user-status-menu"
    #userStatus="matMenu">
    <button
        mat-menu-item
        (click)="updateUserStatus('ONLINE')">
        <span class="w-4 h-4 mr-3 rounded-full bg-green-500"></span>
        <span *transloco="let t">{{t('Online')}}</span>
    </button>
    <button
        mat-menu-item
        (click)="updateUserStatus('AWAY')">
        <span class="w-4 h-4 mr-3 rounded-full bg-amber-500"></span>
        <span *transloco="let t">{{t('Away')}}</span>
    </button>
    <button
        mat-menu-item
        (click)="updateUserStatus('BUSY')">
        <span class="w-4 h-4 mr-3 rounded-full bg-red-500"></span>
        <span *transloco="let t">{{t('Busy')}}</span>
    </button>
    <button
        mat-menu-item
        (click)="updateUserStatus('INVISIBLE')">
        <span class="w-4 h-4 mr-3 rounded-full bg-gray-400"></span>
        <span *transloco="let t">{{t('Invisible')}}</span>
    </button>
</mat-menu>
