<div class="mb-4 flex items-center justify-between" *ngrxLet="task$ as task">
  <div class="flex items-center gap-2">
    <button
      type="button"
      mat-mini-fab
      *ngIf="permissionTodo"
      (click)="toggleEditMode(true)"
      class="overflow-hidden rounded-full bg-slate-200 text-slate-700 opacity-80 transition-all duration-200 hover:border-2 hover:border-dashed hover:border-slate-500 hover:opacity-100 dark:bg-slate-700 dark:text-slate-50 dark:hover:border-slate-500"
      [matTooltip]="'Edit Task'"
    >
      <mat-icon class="icon-size-5" [svgIcon]="'duotone:pen'"></mat-icon>
    </button>
    <h4 class="text-md font-sans font-semibold uppercase text-slate-400">
      Deadline: {{ (task$ | ngrxPush).dueDate | date: 'dd/MM/yyyy' }}
    </h4>
  </div>
  <!-- Task Status -->
  <div
    class="m-0 -ms-1 inline-flex h-6 scale-90 items-center gap-1 rounded-full px-3 py-0.5 text-xs font-semibold"
  >
    <div
      class="rounded-full px-3 py-0.5 text-sm font-semibold"
      [ngClass]="{
        'bg-slate-200 text-slate-800 dark:bg-slate-500 dark:text-slate-50':
          task.status === 'OPEN',
        'bg-blue-200 text-blue-800 dark:bg-blue-500 dark:text-blue-50':
          task.status === 'IN_PROGRESS',
        'bg-amber-200 text-amber-800 dark:bg-amber-500 dark:text-amber-50':
          task.status === 'RESOLVED',
        'bg-green-200 text-green-800 dark:bg-green-500 dark:text-green-50':
          task.status === 'COMPLETED',
        'bg-red-200 text-red-800 dark:bg-red-500 dark:text-red-50':
          task.status === 'CLOSED'
      }"
    >
      {{ task.status }}
    </div>
  </div>
</div>

<ng-container *ngIf="(task$ | ngrxPush).labels.length">
  <div class="my-3 border-b border-slate-200 pb-6 dark:border-slate-700">
    <div class="-mx-1 -mb-2 flex flex-wrap">
      <ng-container
        *ngFor="let label of (task$ | ngrxPush).labels; trackBy: trackByFn"
      >
        <div
          class="mx-1 mb-2 rounded-full bg-gray-100 px-3 py-0.5 text-sm font-medium text-gray-500 dark:bg-gray-700 dark:text-gray-300"
        >
          {{ label.name }}
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>

<div
  class="border-b border-slate-200 pb-6 dark:border-slate-700"
  *ngrxLet="task$ as task"
>
  <!-- Task Name -->
  <div class="mb-2 text-lg font-medium leading-6">
    {{ task.title }}
  </div>

  <!-- Task Description -->
  <div class="text-sm font-normal leading-6 text-slate-500 dark:text-slate-400">
    {{ task.description }}
  </div>

  <!-- Task Assigned -->
  <div class="mt-4 flex items-center justify-between gap-2">
    <!-- Avatar User Assigned -->
    <div class="flex shrink-0 items-center gap-3">
      <img
        class="flex-0 h-7 w-7 rounded-full object-cover shadow-sm ring-2 ring-gray-800"
        [src]="task.assignee.info.avatar"
        [matTooltip]="task.assignee.info.name"
        alt="Avatar"
      />
      <div>
        <div class="text-base font-medium leading-5">Assigned to</div>
        <div class="text-secondary text-md font-normal leading-4">
          {{ task.assignee.info.name }}
        </div>
      </div>
    </div>

    <!-- Process Task -->
    <div class="max-w-30 grow">
      <div class="mb-2 text-sm leading-none text-slate-400">
        {{ progressTodo | async | percent }} complete
      </div>

      <mat-progress-bar
        class="overflow-hidden rounded-full"
        [color]="
          (progressTodo | async) === 1
            ? 'primary'
            : (progressTodo | async) >= 0.5
              ? 'accent'
              : 'warn'
        "
        mode="determinate"
        [value]="(progressTodo | async) * 100"
      />
    </div>
  </div>
</div>

<!-- Todo List -->
<plan-todo-list-check
  [permissionTodo]="permissionTodo"
  [todos]="(task$ | ngrxPush).todos"
  [taskId]="(task$ | ngrxPush).id"
></plan-todo-list-check>

<!-- Attached Files -->
<plan-todo-attach-files
  [files]="(task$ | ngrxPush).files"
></plan-todo-attach-files>

<!-- Comment -->
<plan-todo-comment
  [comments]="(task$ | ngrxPush).comments"
  [taskId]="(task$ | ngrxPush).id"
></plan-todo-comment>
