<div
  class="flex min-w-0 flex-auto flex-col items-center sm:justify-center md:p-8">
  <div
    class="flex overflow-hidden sm:bg-card sm:rounded-2xl sm:shadow md:w-full md:max-w-6xl">
    <div class="w-full px-4 py-8 sm:w-auto sm:p-12 md:p-16">
      <div class="mx-auto w-full max-w-80 sm:mx-0 sm:w-80">
        <!-- Logo -->
        <div class="w-12">
          <img src="assets/images/logo/logo.svg" alt="Logo" />
        </div>

        <!-- Title -->
        <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
          Sign in
        </div>
        <div class="mt-0.5 flex items-baseline font-medium">
          <div>Don't have an account?</div>
          <a
            class="ml-1 text-primary-500 hover:underline"
            [routerLink]="['/sign-up']"
            >Sign up
          </a>
        </div>

        <!-- Alert -->
        <fuse-alert
          class="-mb-4 mt-8"
          *ngIf="showAlert"
          [appearance]="'outline'"
          [showIcon]="false"
          [type]="alert.type"
          [@shake]="alert.type === 'error'">
          {{ alert.message }}
        </fuse-alert>

        <!-- Sign in form -->
        <form class="mt-8" [formGroup]="signInForm" #signInNgForm="ngForm">
          <!-- Email field -->
          <mat-form-field class="w-full">
            <mat-label>Email address</mat-label>
            <input id="email" matInput [formControlName]="'email'" />
            <mat-error *ngIf="signInForm.get('email').hasError('required')">
              Email address is required
            </mat-error>
            <mat-error *ngIf="signInForm.get('email').hasError('email')">
              Please enter a valid email address
            </mat-error>
          </mat-form-field>

          <!-- Password field -->
          <mat-form-field class="w-full">
            <mat-label>Password</mat-label>
            <input
              id="password"
              matInput
              type="password"
              [formControlName]="'password'"
              #passwordField />
            <button
              mat-icon-button
              type="button"
              (click)="
                passwordField.type === 'password'
                  ? (passwordField.type = 'text')
                  : (passwordField.type = 'password')
              "
              matSuffix>
              <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'password'"
                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
              <mat-icon
                class="icon-size-5"
                *ngIf="passwordField.type === 'text'"
                [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
            </button>
            <mat-error> Password is required </mat-error>
          </mat-form-field>

          <!-- Actions -->
          <div class="mt-1.5 inline-flex w-full items-center justify-between">
            <mat-checkbox
              class="-ml-2"
              [color]="'primary'"
              [formControlName]="'rememberMe'">
              Remember me
            </mat-checkbox>
            <a
              class="text-md font-medium text-primary-500 hover:underline"
              [routerLink]="['/forgot-password']"
              >Forgot password?
            </a>
          </div>

          <!-- Submit button -->
          <button
            class="fuse-mat-button-large mt-6 w-full"
            mat-flat-button
            [color]="'primary'"
            [disabled]="signInForm.disabled"
            (click)="signIn()">
            <span *ngIf="!signInForm.disabled"> Sign in </span>
            <mat-progress-spinner
              *ngIf="signInForm.disabled"
              [diameter]="24"
              [mode]="'indeterminate'"></mat-progress-spinner>
          </button>

          <!-- Separator -->
          <div class="mt-8 flex items-center">
            <div class="mt-px flex-auto border-t"></div>
            <div class="text-secondary mx-2">Or continue with</div>
            <div class="mt-px flex-auto border-t"></div>
          </div>

          <!-- Single sign-on buttons -->
          <div class="mt-8 flex items-center space-x-4">
            <button class="flex-auto" type="button" mat-stroked-button>
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'feather:facebook'"></mat-icon>
            </button>
            <button class="flex-auto" type="button" mat-stroked-button>
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'feather:twitter'"></mat-icon>
            </button>
            <button class="flex-auto" type="button" mat-stroked-button>
              <mat-icon
                class="icon-size-5"
                [svgIcon]="'feather:github'"></mat-icon>
            </button>
          </div>
        </form>
      </div>
    </div>
    <div
      class="relative hidden h-full flex-auto items-center justify-center overflow-hidden bg-gray-800 bg-gradient-to-tr p-16 dark:border-l md:flex lg:px-28">
      <!-- Background - @formatter:off -->
      <!-- Rings -->
      <svg
        class="pointer-events-none absolute inset-0"
        viewBox="0 0 960 540"
        width="100%"
        height="100%"
        preserveAspectRatio="xMidYMax slice"
        xmlns="http://www.w3.org/2000/svg">
        <g
          class="text-gray-700 opacity-25"
          fill="none"
          stroke="currentColor"
          stroke-width="100">
          <circle r="234" cx="196" cy="23"></circle>
          <circle r="234" cx="790" cy="491"></circle>
        </g>
      </svg>
      <!-- Dots -->
      <svg
        class="absolute -right-16 -top-16 text-gray-700"
        viewBox="0 0 220 192"
        width="220"
        height="192"
        fill="none">
        <defs>
          <pattern
            id="837c3e70-6c3a-44e6-8854-cc48c737b659"
            x="0"
            y="0"
            width="20"
            height="20"
            patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" fill="currentColor"></rect>
          </pattern>
        </defs>
        <rect
          width="220"
          height="192"
          fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"></rect>
      </svg>
      <!-- @formatter:on -->
      <!-- Content -->
      <div class="relative z-10 w-full max-w-2xl">
        <div class="text-7xl font-bold leading-none text-gray-100">
          <div>Welcome to</div>
          <div>Task Management</div>
        </div>
        <div class="mt-6 text-lg leading-6 tracking-tight text-gray-400">
          Build organized and well-coded task management dashboards with our
          developer-friendly platform. Join us today and start creating your
          application.
        </div>
        <div class="mt-8 flex items-center">
          <div class="flex flex-0 items-center -space-x-1.5">
            <canvas riv="726-1431-sign" width="400" height="350">
              <riv-animation name="Animation 1" play></riv-animation>
            </canvas>
            <!-- <img
              class="h-10 w-10 flex-0 rounded-full object-cover ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800"
              src="assets/images/avatars/female-18.jpg"
              alt="" />
            <img
              class="h-10 w-10 flex-0 rounded-full object-cover ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800"
              src="assets/images/avatars/female-11.jpg"
              alt="" />
            <img
              class="h-10 w-10 flex-0 rounded-full object-cover ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800"
              src="assets/images/avatars/male-09.jpg"
              alt="" />
            <img
              class="h-10 w-10 flex-0 rounded-full object-cover ring-4 ring-gray-800 ring-offset-1 ring-offset-gray-800"
              src="assets/images/avatars/male-16.jpg"
              alt="" />
          </div>
          <div class="ml-4 font-medium tracking-tight text-gray-400">
            More than 17k people joined us, it's your turn
          </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
