<div class="w-full max-w-3xl">

    <!-- Form -->
    <form [formGroup]="accountForm">

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl" *transloco="let t">{{t('settings.account.profile.title')}}</div>
            <div class="text-secondary" *transloco="let t">{{t('settings.account.profile.description')}}</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Name -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.name')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'duotone:user'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'name'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Username -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="fuse-mat-emphasized-affix w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.username')}}</mat-label>
                    <div
                        class="text-secondary"
                        matPrefix>
                        ctu.vn.com/
                    </div>
                    <input
                        [formControlName]="'username'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Title -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.position')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'duotone:briefcase'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'title'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Company -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.company')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'duotone:buildings'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'company'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- About -->
            <div class="sm:col-span-4">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.about')}}</mat-label>
                    <textarea
                        matInput
                        [formControlName]="'about'"
                        cdkTextareaAutosize
                        [cdkAutosizeMinRows]="5"></textarea>
                </mat-form-field>
                <div class="mt-1 text-md text-hint">Brief description for your profile. Basic HTML and Emoji are allowed.</div>
            </div>
        </div>

        <!-- Divider -->
        <div class="my-10 border-t"></div>

        <!-- Section -->
        <div class="w-full">
            <div class="text-xl" *transloco="let t">{{t('settings.account.personal_information.title')}}</div>
            <div class="text-secondary" *transloco="let t">{{t('settings.account.personal_information.description')}}</div>
        </div>
        <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
            <!-- Email -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.email')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'duotone:envelope'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'email'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Phone -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.phone')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'duotone:phone-volume'"
                        matPrefix></mat-icon>
                    <input
                        [formControlName]="'phone'"
                        matInput>
                </mat-form-field>
            </div>
            <!-- Country -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label>Country</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'duotone:location-dot'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'country'">
                        <mat-option [value]="'usa'">United States</mat-option>
                        <mat-option [value]="'canada'">Canada</mat-option>
                        <mat-option [value]="'mexico'">Mexico</mat-option>
                        <mat-option [value]="'france'">France</mat-option>
                        <mat-option [value]="'germany'">Germany</mat-option>
                        <mat-option [value]="'italy'">Italy</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <!-- Language -->
            <div class="sm:col-span-2">
                <mat-form-field
                    class="w-full"
                    [subscriptSizing]="'dynamic'">
                    <mat-label *transloco="let t">{{t('settings.account.language')}}</mat-label>
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'duotone:language'"
                        matPrefix></mat-icon>
                    <mat-select [formControlName]="'language'">
                        <mat-option [value]="'en'">English</mat-option>
                        <mat-option [value]="'vi'">Tiếng Việt</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <!-- Divider -->
        <div class="mt-11 mb-10 border-t"></div>

        <!-- Actions -->
        <div class="flex items-center justify-end">
            <button
                mat-stroked-button
                type="button" *transloco="let t">
                {{t('Cancel')}}
            </button>
            <button
                class="ml-4"
                mat-flat-button
                type="button"
                [color]="'primary'" *transloco="let t">{{t('Save')}}
            </button>
        </div>
    </form>

</div>
