<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <mat-drawer-container
    class="bg-card h-full flex-auto dark:bg-transparent"
    (backdropClick)="onBackdropClicked()"
  >
    <mat-drawer
      class="sm:w-128 w-full dark:bg-gray-900"
      [mode]="drawerMode"
      [opened]="false"
      [position]="'end'"
      [disableClose]="true"
      #matDrawer
    >
      <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="relative" *ngrxLet="plan$ as plan">
      <div class="absolute end-12 top-2.5 z-20 mr-12 hidden sm:block">
        <fuse-card
          class="bg-card max-w-80 hover:dark:bg-hover mt-2 flex w-full cursor-pointer items-center rounded-lg p-2.5 shadow-md transition-all duration-300 hover:shadow-2xl"
        >
          <mat-icon
            class="icon-size-6 mr-2"
            [svgIcon]="'duotone:square-kanban'"
          ></mat-icon>
          <div class="flex flex-col">
            <div
              class="text-base font-semibold leading-tight"
              [routerLink]="
                '/scrumboard/plan/2c82225f-2a6c-45d3-b18a-1132712a4234'
              "
            >
              Open Board
            </div>
          </div>
        </fuse-card>
      </div>
      <!-- ToolBar  -->
      <div
        class="absolute end-0 top-2 z-20 mr-12 mt-3"
        *ngIf="permissionPlan || ownerPlan(user.info.email) | async"
      >
        <div
          class="bg-card w-full cursor-pointer rounded-full p-2 shadow-lg transition-all duration-300 hover:rotate-90"
          matRipple
          [matMenuTriggerFor]="projectsMenu"
        >
          <fuse-card>
            <mat-icon
              class="icon-size-6"
              [svgIcon]="'duotone:ellipsis'"
            ></mat-icon>
          </fuse-card>
          <mat-menu #projectsMenu="matMenu" [xPosition]="'before'" class="mt-4">
            <button type="button" mat-menu-item class="sm:hidden">
              <div class="flex items-center justify-start gap-3">
                <mat-icon
                  class="icon-size-5 me-2 block"
                  [svgIcon]="'duotone:lock'"
                ></mat-icon>
                <div>
                  <div class="block font-semibold">Board view</div>
                  <div class="text-secondary text-sm">Switch to Board View</div>
                </div>
              </div>
            </button>
            <hr class="my-1 w-full border-t sm:hidden" />
            <button type="button" mat-menu-item (click)="editFormDialog(plan)">
              <div class="flex items-center justify-start gap-3">
                <mat-icon
                  class="icon-size-5 me-2 block"
                  [svgIcon]="'duotone:pencil'"
                ></mat-icon>
                <div>
                  <div class="block font-semibold">Edit</div>
                  <div class="text-secondary text-sm">Edit this plan</div>
                </div>
              </div>
            </button>
            <hr class="my-1 w-full border-t" />
            <button mat-menu-item>
              <div class="flex items-center justify-start gap-3">
                <mat-icon
                  class="icon-size-5 me-2 block"
                  [svgIcon]="'duotone:lock'"
                ></mat-icon>
                <div>
                  <div class="block font-semibold">Permissions</div>
                  <div class="text-secondary text-sm">Manage permissions</div>
                </div>
              </div>
            </button>
            <hr class="my-1 w-full border-t" />
            <button mat-menu-item>
              <div class="flex items-center justify-start gap-3">
                <mat-icon
                  class="icon-size-5 me-2 block"
                  [svgIcon]="'duotone:file'"
                ></mat-icon>
                <div>
                  <div class="block font-semibold">Files</div>
                  <div class="text-secondary text-sm">Manage files</div>
                </div>
              </div>
            </button>
            <hr class="my-1 w-full border-t" />
            <button mat-menu-item (click)="openDeleteConfirmDialog()">
              <div class="flex items-center justify-start gap-3">
                <mat-icon
                  class="icon-size-5 me-2 block"
                  [svgIcon]="'duotone:trash'"
                ></mat-icon>
                <div>
                  <div class="block font-semibold">Deletes</div>
                  <div class="text-secondary text-sm">Delete this project</div>
                </div>
              </div>
            </button>
          </mat-menu>
        </div>
      </div>
      <!-- Plan Detail -->
      <div class="-mt-px flex-auto border-t pt-4">
        <div class="mx-auto w-full max-w-screen-xl">
          <!-- Tabs -->
          <mat-tab-group
            class="sm:px-2"
            mat-stretch-tabs="false"
            [animationDuration]="'0'"
          >
            <!-- Home -->
            <mat-tab label="{{ 'Overview' | transloco }}">
              <ng-template matTabContent>
                <plan-details-tabs-overview
                  [plan]="plan$ | ngrxPush"
                ></plan-details-tabs-overview>
              </ng-template>
            </mat-tab>
            <!-- Tasks -->
            <mat-tab label="{{ 'Tasks' | transloco }}">
              <ng-template matTabContent>
                <plan-details-tabs-tasks
                  [permissionPlan]="permissionPlan"
                ></plan-details-tabs-tasks>
              </ng-template>
            </mat-tab>
            <!-- Team -->
            <mat-tab>
              <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                  <span class="">{{ 'Team' | transloco }}</span>
                  <span
                    class="bg-primary-100 text-on-primary-100 rounded-full px-2 py-1 text-sm"
                    >{{ plan.members.length }}</span
                  >
                </span>
              </ng-template>
              <ng-template matTabContent>
                <plan-details-tabs-team></plan-details-tabs-team>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
