<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <mat-drawer-container
    class="bg-card h-full flex-auto dark:bg-transparent"
    (backdropClick)="onBackdropClicked()"
  >
    <mat-drawer
      class="sm:w-128 w-full dark:bg-gray-900"
      [mode]="drawerMode"
      [opened]="false"
      [position]="'end'"
      [disableClose]="true"
      #matDrawer
    >
      <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content class="relative" *ngrxLet="plan$ as plan">
      <div class="absolute end-12 top-2.5 z-20 mr-12 hidden sm:block">
        <fuse-card
          class="bg-card max-w-80 hover:dark:bg-hover mt-2 flex w-full cursor-pointer items-center rounded-lg p-2.5 shadow-md transition-all duration-300 hover:shadow-2xl"
        >
          <mat-icon
            class="icon-size-6 mr-2"
            [svgIcon]="'duotone:square-kanban'"
          ></mat-icon>
          <div class="flex flex-col">
            <div
              class="text-base font-semibold leading-tight"
              [routerLink]="
                '/scrumboard/plan/2c82225f-2a6c-45d3-b18a-1132712a4234'
              "
            >
              Open Board
            </div>
          </div>
        </fuse-card>
      </div>
      <!-- ToolBar  -->
      <plan-details-toolbar
        *ngIf="permissionPlan || ownerPlan(user.info.email) | async"
        [plan]="plan$ | ngrxPush"
      ></plan-details-toolbar>

      <!-- Plan Detail -->
      <div class="-mt-px flex-auto border-t pt-4">
        <div class="mx-auto w-full max-w-screen-xl">
          <!-- Tabs -->
          <mat-tab-group
            class="sm:px-2"
            mat-stretch-tabs="false"
            [animationDuration]="'0'"
          >
            <!-- Home -->
            <mat-tab label="{{ 'Overview' | transloco }}">
              <ng-template matTabContent>
                <plan-details-tabs-overview
                  [plan]="plan$ | ngrxPush"
                ></plan-details-tabs-overview>
              </ng-template>
            </mat-tab>
            <!-- Tasks -->
            <mat-tab label="{{ 'Tasks' | transloco }}">
              <ng-template matTabContent>
                <plan-details-tabs-tasks
                  [permissionPlan]="permissionPlan"
                ></plan-details-tabs-tasks>
              </ng-template>
            </mat-tab>
            <!-- Team -->
            <mat-tab>
              <ng-template mat-tab-label>
                <span class="inline-flex items-center space-x-2">
                  <span class="">{{ 'Team' | transloco }}</span>
                  <span
                    class="bg-primary-100 text-on-primary-100 rounded-full px-2 py-1 text-sm"
                    >{{ plan.members.length }}</span
                  >
                </span>
              </ng-template>
              <ng-template matTabContent>
                <plan-details-tabs-team></plan-details-tabs-team>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
